---
title: Step by step navigation
description: A starting point for your digital service on GOV.UK
section: Patterns
theme: GOV.UK Publishing
aliases:
backlog_issue_id: 111
layout: layout-pane.njk
---

Step by step navigation is a way of presenting end-to-end journeys on GOV.UK. It groups existing guidance and transactions into a series of steps.

![A screenshot showing an example of the step by step navigation pattern](step-by-step-navigation.png)

GDS builds step by step navigation journeys in collaboration with departments. This pattern is for testing in your prototype only.

You cannot publish step by step navigation you’ve created yourself on GOV.UK.

Email modelling-services@digital.cabinet-office.gov.uk as soon as possible if you think your service would fit into a step by step journey.

## When to use this pattern

GOV.UK uses step by step navigation to represent services that:

- cover whole, end-to-end journeys
- span one or more department’s content and services
- have specific start and end points
- contain multiple pieces of guidance and/or transactions that a user needs to interact with in a sequence

You can use the coded example here to prototype how your service will join up with GOV.UK.

## When not to use this pattern

GOV.UK does not use step by step navigation:

- when a user only needs to read guidance and not take a particular action
- for content used inside a transactional service - use the [task list pattern](https://design-system.service.gov.uk/patterns/task-list-pages/) instead
- to track a user’s progress through a service

## How it works

Step by step navigation is represented as:

- a single page that shows all steps and tasks within those steps
- a sidebar, or bottom of the page on mobile, and header on each piece of content on GOV.UK that forms part of those steps or tasks

A step by step navigation journey can:

- include content and transactions owned by different departments, agencies, services and topics, for example, Employ someone
- be completed in one go, or require users to return at different intervals
- include online and offline actions
- represent one-off tasks, or regularly repeated tasks
- link to content and services outside of government

You cannot customise the design of step by step navigation, but you can customise content like the links in the steps and the name.

It’s displayed in 2 ways:

1. In the sidebar of content pages that are part of the step by step navigation.
2. As a standalone page that doesn’t contain any other content.

Content pages that are part of the step by step navigation also have a sticky link at the top that goes to the standalone step by step page.

### Elements of a step by step

#### Introduction

This is a short summary which describes the service the step by step navigation represents.

It can be used to tell users when this step by step navigation is not relevant to them. For example, if the process is different in another region.

### Steps

A step is a task or group of tasks that a user can do as part of the service. They appear in the pattern as expandable, numbered sections of an accordion.

#### Tasks

A task is an action you need to do or piece of content you need to read  to help you complete a step. They appear as a single link or list of links. They can be bulleted if you need to show a range of options within a task. For example, if there are different versions of a form to download.

### Order steps according to user needs

Steps and tasks should be listed in the order users need to complete them.

If there isn’t a set order, they should be listed in an order that helps the user.

For example, ‘Make arrangements for your children, money and property’ is listed as step 2 in ‘Get a divorce’, although it can be completed later on.

It is better for users to complete it before step 3 because court proceedings can be more complicated if it’s not completed until later on.

### Use both ‘and’ and ‘or’

Use ‘and’ to show when you can or must complete more than one step simultaneously.

Use ‘or’ to show when there’s a choice between 2 steps.

### Show the cost of tasks

Include the cost of doing a task after the link text, if there is one.

### Instruction text

If needed, you can include instruction text to briefly provide:

- essential context that isn’t included in the content we are linking to
- conditions, for example if there’s a task that only some users need to complete

## Research on this pattern

Step by step navigation dossier
